<ion-view title="Revision" id="page3" class=" " ng-app="app.controllers" ng-controller="revisionCtrl">
    <ion-content padding="true" class="has-header">
        
<!--        <ion-grid class="row">-->
<!--            -->
<!--            -->
<!--            <ion-row class = "col text-center">-->
<!--                <ion-col>camera</ion-col>-->
<!--                -->
<!--            </ion-row>-->
<!--            -->
<!--            <ion-row class = "col text-center">-->
<!--                <ion-col>Video</ion-col>-->
<!--            </ion-row>-->
<!--        </ion-grid>-->
<!--        -->
<!--        <div class = "row">-->
<!--            <div class = "col col-50"><img   ng-src="img/download.jpeg" ng-click="OpenCamara()" id = "smallImage" name="smallImage" class="image-list-thumb"/></div>-->
<!--            <div class = "col col-50"><img   ng-src="img/video.png" ng-click="OpenVideo()" id="videoArea" class="image-list-thumb"/></div>-->
<!--        </div>-->
<!--        -->

        
    </ion-content>
</ion-view>